<div id="company">

    <div class="company-actions-widget">
        <span class="title">Actions</span>
        <div class="actions-widget-con">
            <div id="company-actions-licenselist" class="widget licenselist">
                <!-- <span class="title">My License Keys</span>
                <div class="license">
                    <span class="key">KJhasfjhalk865 &bull; 2Y &bull; ProFlow</span>
                    <span class="company">Stepwell &bull; Active</span>
                </div>
                <div class="license">
                    <span class="key">KJhasfjhalk865 &bull; 2Y &bull; ProFlow</span>
                    <span class="company">Stepwell &bull; Active</span>
                </div>
                <div class="license">
                    <span class="key">KJhasfjhalk865 &bull; 2Y &bull; ProFlow</span>
                    <span class="company">Stepwell &bull; Active</span>
                </div>
                <div class="license">
                    <span class="key">KJhasfjhalk865 &bull; 2Y &bull; ProFlow</span>
                    <span class="company">Unassigned &bull; Active</span>
                </div> -->
            </div>
            <div class="widget">
                <span class="subtitle">Custom Company ID &nbsp; ( 8 - 10 characters )</span>
                <span class="subtitle">additional charges may apply, leave blank for random ID</span>
                <input id="company-actions-select-companyid" type="text" placeholder="Custom Company ID">
                <span class="subtitle">Company Name</span>
                <input id="company-actions-select-companyname" type="text" placeholder="Company Name">
                <span class="subtitle">Select License to Add</span>
                <div class="option">
                    <select id="company-actions-select-licenselist" >
                        <!-- <option value="">License 1 Proflow 1M</option>
                        <option value="">License 2 Proflow 1M</option>
                        <option value="">License 3 Proflow 1M</option>
                        <option value="">License 4 Proflow 1M</option> -->
                    </select>
                    <button id="company-actions-select-licenselist-h" class="btn-shadow">Add</button>
                </div>
                <div id="company-actions-select-licenselist-collection" class="license-collection">
                    <!-- <span>HG987bB789g</span>
                    <span>H9h9oHB9uyg</span>
                    <span>AhAsy45ijhe</span>
                    <span>ASdhj4a1dfhg</span>
                    <span>AShg4sdfj6u</span> -->
                    
                </div>
                <br>
                <button id="company-actions-licenselist-request" class="btn-shadow">Request to Create Company</button>
            </div>
            <div class="widget">
                <button class="btn-shadow">Login to Company</button>
            </div>
        </div>
    </div>
    
    <div class="company-widget">
        <div class="details">
            <div title="Number of Admins" class="details-widget">
                <span class="speck">1</span>
                <i class="fas fa-user-tie"></i>
            </div>
            <div title="Number of Users" class="details-widget">
                <span class="speck">3</span>
                <i class="fas fa-user"></i>
            </div>
            <div title="Number of Projects" class="details-widget">
                <span class="speck">8</span>
                <i class="fas fa-folder"></i>
            </div>
            <div title="Number of Admins" class="details-widget-license">
                <span class="speck">Pro Flow</span>
            </div>
            <div title="Number of Users" class="details-widget-license">
                <span class="speck">Doc Flow</span>
            </div>
        </div>
        <div class="com">
            <img src="lib/images/logo.png" alt="">
            <i class="fas fa-city"></i>
            <span class="companyname">Stepwell Incorporated</span>
        </div>
        <div class="settings hidden">

        </div>
    </div>
    <div class="company-widget">
        <div class="details">
            <div title="Number of Admins" class="details-widget">
                <span class="speck">15</span>
                <i class="fas fa-user-tie"></i>
            </div>
            <div title="Number of Users" class="details-widget">
                <span class="speck">33</span>
                <i class="fas fa-user"></i>
            </div>
            <div title="Number of Projects" class="details-widget">
                <span class="speck">6</span>
                <i class="fas fa-folder"></i>
            </div>
            <div title="Number of Admins" class="details-widget-license">
                <span class="speck">Pro Flow</span>
            </div>
            <div title="Number of Users" class="details-widget-license">
                <span class="speck">Skid Builder</span>
            </div>
            <div title="Number of Users" class="details-widget-license">
                <span class="speck">Doc Builder</span>
            </div>
        </div>
        <div class="com">
            <img src="lib/images/logo.png" alt="">
            <i class="fas fa-store"></i>
            <span class="companyname">Stepwell Mini Store</span>
        </div>
        <div class="settings hidden">

        </div>
    </div>



</div>