<div id="contact-map">
  <span>Visit us today! and get a specialized plan just for you!</span>
  <!-- <a target="_blank" href="https://www.google.com/maps/place/6115+Shawson+Dr,+Mississauga,+ON+L5T+1E4/@43.7517172,-79.5731504,12.13z/data=!4m5!3m4!1s0x882b3f3148f4b067:0xdcc2d4b07ee1ab5c!8m2!3d43.6513749!4d-79.6570083">6115 Shawson Dr. Mississauga ON L5T 1E4 Canada </a> -->
  <iframe id="contact-address-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84570.31728671197!2d-79.57315041112297!3d43.75171717666146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3f3148f4b067%3A0xdcc2d4b07ee1ab5c!2s6115%20Shawson%20Dr%2C%20Mississauga%2C%20ON%20L5T%201E4!5e0!3m2!1sen!2sca!4v1613595631000!5m2!1sen!2sca" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  <div class="hours">
    <table>
        <tbody>
            <tr>
                <td>Monday</td>
                <td>8a.m.–4p.m.</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>8a.m.–4p.m.</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>8a.m.–4p.m.</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>8a.m.–4p.m.</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>8a.m.–4p.m.</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div id="trial" class="awesomebg">
    <span class="title">Register for a Free Trial</span>
    <span class="subtitle">For a FREE 3 Months Trial, Fill the form below and we will respond to you in less than 24 - hours</span>
    <span class="subtitle">TRAINING & SUPPORT - IF YOU REQUIRE ASSISTANCE SETTING UP YOUR DEVICE LET US KNOW ONE OF OUR DEDICATED SUPPORT STAFF CAN WALK YOU THROUGH THE PROCESS.</span>
    <span class="subtitle">PLEASE CHECK JUNK MAIL AND ALLOW EMAILS FROM US... OR YOU WILL NOT SEE YOUR TRIAL.</span>
    <span class="subtitle">Questions? - Call us: 1.888.000.0000</span>
    <br>
    <div class="trial-form">
      <input id="trial-form-firstname" type="text" placeholder="Firstname">
      <input id="trial-form-lastname" type="text" placeholder="Lastname">
      <input id="trial-form-email" type="text" placeholder="Email">
      <input id="trial-form-phone" type="text" placeholder="Phone Number">
      <input id="trial-form-companyname" type="text" placeholder="Company Name">
      <input id="trial-form-password" type="password" placeholder="Password">
      <input id="trial-form-confirmpassword" type="password" placeholder="Confirm Password">
      <button id="trial-form-submit" class="default-button">Get Free Trial Login</button>
    </div>
</div>