<div id="divider-mobile">
    <div class="widget">
      <span class="title">Engineering Project Management Module</span>
      <span class="subtitle">A simple short text describing Prodocuflow. A simple short text describing Prodocuflow. A simple short text describing Prodocuflow. A simple short text describing Prodocuflow. A simple short text describing Prodocuflow. A simple short text describing Prodocuflow</span>
      <button class="default-button">Get Started</button>
    </div>
    <img src="./lib/images/gal.png" alt="">
  </div>