<div id="nav">
    <img src="lib/images/logo.png" alt="">
    <div id="nav-widget-home" class="nav-widget ">
      <span>HOME
        <div class="nav-widget-underline"></div>
      </span>
    </div>
    <div id="nav-widget-plans" class="nav-widget">
      <span>PRICING & PLANS
        <div class="nav-widget-underline"></div>
      </span>
    </div>
    <div id="nav-widget-setup" class="nav-widget">
      <span>SETUP GUIDE
        <div class="nav-widget-underline"></div>
      </span>
    </div>
    <!-- <div class="nav-widget">
      <span>TESTIMONIALS
        <div class="nav-widget-underline"></div>
      </span>
    </div> -->
    <div id="nav-widget-about" class="nav-widget">
      <span>ABOUT
        <div class="nav-widget-underline"></div>
      </span>
    </div>
    <div id="nav-widget-contact" class="nav-widget">
      <span>CONTACT US
        <div class="nav-widget-underline"></div>
      </span>
    </div>
    <div id="nav-widget-company" class="nav-widget">
      <span>MY COMPANY
        <div class="nav-widget-underline"></div>
      </span>
    </div>
    <i id="userprofile" class="fas fa-user"></i>
    <i id="usercart" class="fas fa-shopping-bag"><span id="usercart-counter">0</span></i>
</div>