<div id="plans">
    <span class="title">PRICING & PLANS</span>
    <span class="subtitle">1. Fill The Trial Form</span>
    <span class="subtitle">2. Wait for our Confirmation Containing your Login Details</span>
    <span class="subtitle">3. Try The Trial And Make Sure It's Right For You</span>
    <span class="subtitle">4. Purchase And Extend Your Plan Here!</span>
    <span class="subtitle">5. We'll Send You A Reminder When Your Service Is Up For Renewal</span>
    <br>
    
    <div id="plans-content-widget-con" class="plans-content">
      <div class="plans-content-widget">
        <div class="top awesomebg">
          <span class="title">Pro Flow</span>
          <span class="duration">3 Months</span>
        </div>
        <span class="price">Free<span class="currency"> Trial</span> </span>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1 Free Admin Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>3 Free User Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>10 Projects</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>100mb Storage</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Limited Support</span>
        </div>
        <div class="footer">
          <button class="default-button"><i class="fas fa-shopping-bag"></i>BUY NOW</button>
          <span class="bottom">Instant Activation<br>One Time Payment</span>
        </div>
      </div>
      <div class="plans-content-widget">
        <div class="top awesomebg">
          <span class="title">Pro Flow</span>
          <span class="duration">1 Year</span>
        </div>
        <span class="price">$120<span class="currency"> CAD</span> </span>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1 Free Admin Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Pay as you go User Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Unlimited Projects</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>500mb Storage</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Free Weekly Backup</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>24 hour Premium Support</span>
        </div>
        <div class="footer">
          <button class="default-button"><i class="fas fa-shopping-bag"></i>BUY NOW</button>
          <span class="bottom">Instant Activation<br>One Time Payment</span>
        </div>
      </div>
      <div class="plans-content-widget">
        <div class="top awesomebg">
          <span class="title">Pro Flow</span>
          <span class="duration">3 Years</span>
        </div>
        <span class="price">$255<span class="currency"> CAD</span> </span>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1 Free Admin Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Pay as you go User Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Unlimited Projects</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1Gb Storage</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Free Weekly Backup</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>24 hour Premium Support</span>
        </div>
        <div class="footer">
          <button class="default-button"><i class="fas fa-shopping-bag"></i>BUY NOW</button>
          <span class="bottom">Instant Activation<br>One Time Payment</span>
        </div>
      </div>

      <div class="plans-content-widget">
        <div class="top awesomebg">
          <span class="title">Doc Flow</span>
          <span class="duration">3 Months</span>
        </div>
        <span class="price">Free<span class="currency"> Trial</span> </span>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1 Free Admin Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>3 Free User Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>10 Projects</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>100mb Storage</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Limited Support</span>
        </div>
        <div class="footer">
          <button class="default-button"><i class="fas fa-shopping-bag"></i>BUY NOW</button>
          <span class="bottom">Instant Activation<br>One Time Payment</span>
        </div>
      </div>
      <div class="plans-content-widget">
        <div class="top awesomebg">
          <span class="title">Doc Flow</span>
          <span class="duration">1 Year</span>
        </div>
        <span class="price">$120<span class="currency"> CAD</span> </span>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1 Free Admin Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Pay as you go User Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Unlimited Projects</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>500mb Storage</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Free Weekly Backup</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>24 hour Premium Support</span>
        </div>
        <div class="footer">
          <button class="default-button"><i class="fas fa-shopping-bag"></i>BUY NOW</button>
          <span class="bottom">Instant Activation<br>One Time Payment</span>
        </div>
      </div>
      <div class="plans-content-widget">
        <div class="top awesomebg">
          <span class="title">Doc Flow</span>
          <span class="duration">3 Years</span>
        </div>
        <span class="price">$255<span class="currency"> CAD</span> </span>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1 Free Admin Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Pay as you go User Accounts</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Unlimited Projects</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>1Gb Storage</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>Free Weekly Backup</span>
        </div>
        <div class="specs">
          <i class="fas fa-check"></i>
          <span>24 hour Premium Support</span>
        </div>
        <div class="footer">
          <button class="default-button"><i class="fas fa-shopping-bag"></i>BUY NOW</button>
          <span class="bottom">Instant Activation<br>One Time Payment</span>
        </div>
      </div>

    </div>

    
  </div>