<div id="header">
  <img class="company-logo company-logo1" src="lib/images/companylogo.png" alt=""> 
  <div class="textarea">
    <div class="title">
      <span class="red">ENGINEERING</span>
      <span class="silver"> & INNOVATION</span>
      <span class="red">BEYOND</span>
      <span class="silver"> EXPECTATION</span>
    </div>
    <span class="subtitle">Engineered System & Specialties </span>
    
    <!-- <div class="icons">
      <i status="closed" id="header-btn-language" class="fas fa-language " title="Language"></i>
      <i status="closed" id="header-btn-search" class="fas fa-search " title="Search"></i>
    </div> -->
  </div>
    <!-- <img class="company-logo" src="https://via.placeholder.com/500x300/fff?text=No+Photo_Available" alt=""> -->
  <img class="company-logo company-logo2" src="lib/images/essdbt.png" alt=""> 
  <div class="info">
    <span><i class="fas fa-phone"></i> 905.696.9292</span>
    <span><i class="fas fa-phone"></i> 877.896.9292</span>
  </div>


</div> 


<!-- ” -->