<div id="burger-container">
    <div id="burger">
        <span>    </span>
        <span>    </span>
        <span>    </span>
        <span>    </span>
    </div>
</div>
<div id="mobinavtab">
    <div class="tlink">
        <span link="home" class="title navbar-popup-widget-c mobinavtab-tlink-h">Home</span>
        <div class="slink hidden">

        </div>
    </div>

    <div class="tlink">
        <span class="title">Industries<i class="fas fa-caret-down"></i></span>
        <div class="slink hidden">
            <span link="spage_cip" class="title navbar-popup-widget-c">Pharmaceutical & Biotech</span>
        </div>
        <div class="slink hidden">
            <span link="spage_cip" class="title navbar-popup-widget-c">Food & Beverage</span>
        </div>
    </div>

    <div class="tlink">
        <span class="title mobinavtab-tlink-h">Application<i class="fas fa-caret-right "></i></span>
        <div class="slink hidden">
            <span class="title mobinavtab-slink-h">Filter Vessels<i class="fas fa-caret-right"></i></span>
            <div class="mlink hidden">
                <span link="spage_cip" class="title navbar-popup-widget-c">Bag Filter Vessels</span>
                <span link="spage_cip" class="title navbar-popup-widget-c">Cartridge Filter Vessels</span>
                <span link="spage_cip" class="title navbar-popup-widget-c"> Charcoal Filter Vessels</span>
            </div>
        </div>
        <div class="slink hidden">
            <span class="title">Filter Media<i class="fas fa-caret-right"></i></span>
        </div>
    </div>

    <div class="tlink">
        <span class="title">Competencies</span>
        <div class="slink hidden">
            <span link="spage_cip" class="title navbar-popup-widget-c">Filter Media<i class="fas fa-caret-right"></i></span>
        </div>
        <div class="slink hidden">
            <span link="spage_cip" class="title navbar-popup-widget-c">Filter Media<i class="fas fa-caret-right"></i></span>
        </div>
        <div class="slink hidden">
            <span link="spage_cip" class="title navbar-popup-widget-c">Filter Media<i class="fas fa-caret-right"></i></span>
        </div>
    </div>

    <div class="tlink">
        <span link="spage_cip" class="title navbar-popup-widget-c">Quality Systems</span>
    </div>

    <div class="tlink">
        <span link="spage_cip" class="title navbar-popup-widget-c">Contact</span>
    </div>

    <div class="tlink">
        <span link="spage_cip" class="title navbar-popup-widget-c">Careers</span>
    </div>

    
</div>