<div id="navbar">
    <div class="bar">
      <!-- <div popup="p1" status="closed" link="none" class="navbar-popup-widget-c navbar-widget">
        <span>Products & Solutions</span>
        <i class="fas fa-caret-right "></i>
      </div>
      <div popup="p2" status="closed" link="none" class="navbar-popup-widget-c navbar-widget">
        <span>Competencies</span>
        <i class="fas fa-caret-right "></i>
      </div>
      <div popup="p3" status="closed" link="none" class="navbar-popup-widget-c navbar-widget">
        <span>References</span>
        <i class="fas fa-caret-right "></i>
      </div>
      <div popup="p4" status="closed" link="none" class="navbar-popup-widget-c navbar-widget">
        <span>Our Company</span>
        <i class="fas fa-caret-right "></i>
      </div>
      <div popup="p5" status="closed" link="link_5" class="navbar-popup-widget-c navbar-widget">
        <span>News</span>
      </div>
      <div popup="p6" status="closed" link="link_6" class="navbar-popup-widget-c navbar-widget">
        <span>Contact</span>
      </div>
      <div popup="p7" status="closed" link="link_7" class="navbar-popup-widget-c navbar-widget">
        <span>Recruitment</span>
      </div> -->

    </div>
    <div id="navbar-popup" class="popup hidden">

      <div class="navbar-popup-widget popup-p1 hidden">
        <div class="leftpanel">
          <span class="navbar-popup-widget-c" link="none" pid="p1_1">Applications<i class="fas fa-caret-right "></i></span>
          <span class="navbar-popup-widget-c" link="none" pid="p1_2">Technologies<i class="fas fa-caret-right "></i></span>
          <span class="navbar-popup-widget-c" link="none" pid="p1_3">Customer Service<i class="fas fa-caret-right "></i></span>
        </div>
        <div class="rightpanel">
          <div div class="navbar-popup-widget-r navbar-popup-widget-r-p1_1">
            <span link="link_1_1_1" class="navbar-popup-widget-c">Life Sciences</span>
            <span link="link_1_1_2" class="navbar-popup-widget-c">Food & Beverage</span>
          </div>
          <div class="navbar-popup-widget-r navbar-popup-widget-r-p1_2">
            <span link="link_1_2_1" class="navbar-popup-widget-c">Agitation & Mixing</span>
            <span link="link_1_2_2" class="navbar-popup-widget-c">Automation</span>
            <span link="link_1_2_3" class="navbar-popup-widget-c">Cleaning and Sterilization in Place</span>
            <span link="link_1_2_4" class="navbar-popup-widget-c">Components-Vessel Accesories</span>
            <span link="link_1_2_5" class="navbar-popup-widget-c">Vessels & Piping</span>
          </div>
          <div class="navbar-popup-widget-r navbar-popup-widget-r-p1_3">
            <span link="link_1_3_1" class="navbar-popup-widget-c">Customer Service</span>
            <span link="link_1_3_2" class="navbar-popup-widget-c">Audit, Consultancy & Troubleshooting</span>
            <span link="link_1_3_3" class="navbar-popup-widget-c">maintenance & Spare Parts</span>
            <span link="link_1_3_4" class="navbar-popup-widget-c">Calibration & Qualification</span>
            <span link="link_1_3_5" class="navbar-popup-widget-c">Retrofits & Automation Upgrade</span>
          </div>
        </div>

      </div>
      <div class="navbar-popup-widget popup-p2 hidden">
        <div class="leftpanel">
          <span link="link_2_1" class="navbar-popup-widget-c" pid="p2_1">We Design</span>
          <span link="link_2_2" class="navbar-popup-widget-c" pid="p2_2">We Manufacture</span>
          <span link="link_2_3" class="navbar-popup-widget-c" pid="p2_3">Product Support</span>
        </div>
      </div>
      <div class="navbar-popup-widget popup-p3 hidden">
        <div class="leftpanel">
          <span link="link_3_1" class="navbar-popup-widget-c" pid="p3_1">Life Sciences</span>
          <span link="link_3_2" class="navbar-popup-widget-c" pid="p3_2">Food & Beverage</span>
          <span link="link_3_3" class="navbar-popup-widget-c" pid="p3_3">Wine & Spirits</span>
        </div>
      </div>
      <div class="navbar-popup-widget popup-p4 hidden">
        <div class="leftpanel">
          <span link="link_4_1" class="navbar-popup-widget-c" pid="p4_1">Key Facts</span>
          <span link="link_4_2" class="navbar-popup-widget-c" pid="p4_2">History</span>
          <span link="link_4_3" class="navbar-popup-widget-c" pid="p4_3">Our Core Values</span>
        </div>
      </div>

     

    </div>
</div>