<div id="searchbar">

    <div class="language hidden">
        <i class="searchbar-close fas fa-times"></i>
        <div id="google_translate_element"></div>
    </div>

    <div class="search hidden">
        <i class="searchbar-close fas fa-times"></i>
        <div class="form">
        <input type="text">
        <button class="bg-color-btn">Search</button>
        </div>
    </div>

    <div class="adminlogin hidden">
        <i class="searchbar-close fas fa-times"></i>
        <div class="form">
            <input id="adminlogin-tbox" type="text" placeholder="Please Enter Master Password">
        </div>
    </div>



</div>