<div id="contact" class="page-content hidden">
    <div class="contact-header">
        <span class="title">CONTACT US</span>
    </div>
    <div class="contact-content">
        <div id="contact-content-gallery" class="contactgallery">
            <div class="scroller ">
                <div class="widget">
                    <img src="" alt="">
                    <span>CompanyName</span>
                </div>
            </div>
        </div>
        <div id="contact-content-form" class="form">
            <div class="left">
                <select name="" id="contact-form-product" >
                    <option value="na">General Inquiry</option>
                </select>
                <input id="contact-form-fname" type="text" placeholder="Firstname">
                <input id="contact-form-lname" type="text" placeholder="Lastname">
                <input  onkeypress='validate(event)' id="contact-form-phone" type="text" placeholder="Phone Number">
                <input id="contact-form-email" type="text" placeholder="Email Address">
                <input id="contactImageUpload" onchange="contactImageUpload()" type="file" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" style="display: none;">
	            <span id="contact-form-image" onclick="$('#contactImageUpload').click();" >Upload Document Attachment</span>
                <button id="contact-form-submit">SUBMIT</button>
            </div>
            <div class="right">
                <div class="contact-product-spec">
                    <span>Hello</span>
                    <!-- <img src="https://via.placeholder.com/500x300/fff?text=NO+PHOTO+AVAILABLE" alt=""> -->
                    <img src="" alt="">
                </div>
                <textarea id="contact-form-message" name="" id="" placeholder="Specification"></textarea>
            </div>
        </div>
        <span class="title">OUR DISTRIBUTORS</span>
        <div id="emblem_dist">
            <div class="emblem_dist-widget">
                <!-- <img src="lib/images/companylogo.png" alt=""> -->
                <span>Wajax Industrial Components</span>
            </div>
            <div class="emblem_dist-widget">
                <!-- <img src="lib/images/companylogo.png" alt=""> -->
                <span>Graystone & Associates</span>
            </div>
            <div class="emblem_dist-widget">
                <!-- <img src="lib/images/companylogo.png" alt=""> -->
                <span>Eggelhof Inc.</span>
            </div>
            <div class="emblem_dist-widget">
                <!-- <img src="lib/images/companylogo.png" alt=""> -->
                <span>Becker & Associates, Inc.</span>
            </div>
        </div>
        <div class="info">
            <div class="address">
                <span>Visit Our Facility in Person!</span>
                <!-- <a target="_blank" href="https://www.google.com/maps/place/6115+Shawson+Dr,+Mississauga,+ON+L5T+1E4/@43.7517172,-79.5731504,12.13z/data=!4m5!3m4!1s0x882b3f3148f4b067:0xdcc2d4b07ee1ab5c!8m2!3d43.6513749!4d-79.6570083">6115 Shawson Dr. Mississauga ON L5T 1E4 Canada </a> -->
                <iframe id="contact-address-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84570.31728671197!2d-79.57315041112297!3d43.75171717666146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3f3148f4b067%3A0xdcc2d4b07ee1ab5c!2s6115%20Shawson%20Dr%2C%20Mississauga%2C%20ON%20L5T%201E4!5e0!3m2!1sen!2sca!4v1613595631000!5m2!1sen!2sca" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="hours">
                <table>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>8a.m.–4p.m.</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>8a.m.–4p.m.</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>8a.m.–4p.m.</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>8a.m.–4p.m.</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>8a.m.–4p.m.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>