<div id="home" class="page-content ">
    <div id="gallery">
        <img class="background" src="lib/images/essdbt.png" alt="">
        <div class="background"></div>
        <div class="gallery-collection">
            <!-- <div gid="g1" class="widget ">
                <img src="lib/images/gallery/gallery1.jpg" alt="">
                <div class="textcontent">
                    <span class="title">LIFE SCIENCES</span>
                    <span class="subtitle">A WORLD LEADER IN FERMENTERS & BIOREACTORS</span>
                    <span class="content">FERMENTATION AND CELL CULTIVATION ARE AT THE CORE OF <b>STEPWELL INTERNATIONAL</b>'S EXPERTISE</span>
                </div>
            </div>
            <div gid="g2" class="widget hidden">
                <img src="lib/images/gallery/gallery2.jpg" alt="">
                <div class="textcontent">
                    <span class="title">FOOD & BEVERAGE</span>
                    <span class="subtitle">WHEN TECHNOLOGY MEETS TRADITION</span>
                    <span class="content">AN EXPERT OF FOOD & BEVERAGE PROCESS, <b>STEPWELL INTERNATIONAL</b> KNOW HOW EXTENDS FROM THE ARRIVAL AND THE STORAGE OF RAW MATERIALS TO THE STORAGE OF FINISHED PRODUCTS PRIOR TO FILLING AND CONDITIONNING</span>
                </div>
            </div>
            <div gid="g3" class="widget hidden">
                <img src="lib/images/gallery/gallery3.jpg" alt="">
                <div class="textcontent">
                    <span class="title">HAPPY NEW YEAR!</span>
                    <span class="subtitle">GOODBYE 2020, WELCOME 2021!</span>
                    <span class="content">THE WHOLE TEAM OF <b>STEPWELL INTERNATIONAL</b> WISHES YOU AN EXCELLENT YEAR 2021! MAY IT BRING YOU HAPPINESS, HEALTH AND GREAT SUCCESS BUT ALSO MANY LITTLE JOYS AND TIMES TO SHARE. TOGETHER LET'S HAVE THE COMMON GOAL IN HEALTHCARE & NUTRITION: A DEFINABLE HIGHEST!</span>
                </div>
            </div>
            <div gid="g4" class="widget hidden">
                <img src="lib/images/gallery/gallery4.jpg" alt="">
                <div class="textcontent">
                    <span class="title">INTERNATIONAL</span>
                    <span class="subtitle">NETWORK</span>
                    <span class="content">A LEADING INTERNATIONAL EQUIPMENT SUPPLIER. <b>STEPWELL INTERNATIONAL</b> DESIGNS AND PRODUCES A COMPREHENSIVE RANGE OF STAINLESS STEEL EQUIPMENT AND PROCESS LINES FOR THE LIFE SCIENCES AND FOOD & BEVERAGES INDUSTRIES</span>
                </div>
            </div> -->
        </div>
        <div class="gallery-icons">
            <!-- <i gid="g1" status="idle" class="gallery-icons-handle far fa-circle"></i>
            <i gid="g2" status="idle" class="gallery-icons-handle far fa-circle"></i>
            <i gid="g3" status="idle" class="gallery-icons-handle far fa-circle"></i>
            <i gid="g4" status="idle" class="gallery-icons-handle far fa-circle"></i> -->
        </div>
    </div>
    <div id="emblem">
        <div class="emblem-widget">
            <img src="lib/images/stamps/usme.png" alt="">
        </div>
        <div class="emblem-widget">
            <img src="lib/images/stamps/usme-u.png" alt="">
        </div>
        <div class="emblem-widget">
            <img src="lib/images/stamps/usme-um.png" alt="">
        </div>
        <div class="emblem-widget">
            <img src="lib/images/stamps/usme-nb.png" alt="">
        </div>
        <div class="emblem-widget">
            <img src="lib/images/stamps/tssa.png" alt="">
        </div>
        <div class="emblem-widget">
            <img src="lib/images/stamps/csa.png" alt="">
        </div>
        <div class="emblem-widget">
            <img src="lib/images/stamps/usme-r.png" alt="">
        </div>
    </div>

    <!-- <span id="mtitle">Hello This is A Sample MTITLE</span>
    <span id="mstitle">Hello This is A Sample MSTITLE</span>
    <span id="title">Hello This is A Sample TITLE</span>
    <span id="ztext">Hello This is A Sample TEXT</span>
    <span id="stext">Hello This is A Sample STEXT</span> -->


    <span>ESS is a design build company manufacturing process equipment and automated skid for various industries. ESS started its operations in year 2000 as a filter pressure vessel manufacturer and has slowly grown as a full custom skid fabricator including skids for sanitary industry. We work directly with clients and / or engineering firms from various stages of design, fabrication and testing to provide the quality build.  ESS Corp offers products and services through a world-wide network of distributors and industrial sales organizations, as well as through direct sales to end users.</span>

    <span> ESS Corp can also offers a variety of engineered systems with complete "turn-key" solutions based on customer requirement and specification. Apart from full team of Mechanical Designers, Process Engineers and Validation Experts, we also work with range of supplier and partners that helps to integrate their solution in mechanical, process, electrical, structural and control systems design. </span>
        
    <span>Our long-time experience in pressure vessels and piping systems design allows us to provide our customers with high quality products, at cost saving prices and exceptional service. ESS can design custom equipment as per client need and following industry best practices for design, fabrication and commissioning.  We can execute projects with exceptional quality control and project management starting from specification development to fabrication to commissioning/testing and generating quality turnover packages Our team has constituted of Project Managers, Engineers, Designers, Quality Assurance Specialists and fabricators (that includes welders, fitter, machinist, testers and general helpers).</span> 
        
        
    <span>For the convenience of our clients, we stock some finished units and spare parts, as well as consumables, required for everyday use of our products.</span>
        
    <span>Apart from pressure vessels fabrication, we fabricate in- house structural fabrication of frames and platforms, pipe welding, rolling and machined parts. ESS conforms to all the relevant codes that includes ASME pressure vessel code, ASME piping code, NBA accreditation, CRN, CSA and R stamps for repairs and alterations and CRNs</span> 
        
    <span>Give us a call today for a solution to your unique engineering problem!</span>
    <br><br><br>
    <div id="emblem2">
        <div class="emblem2-widget navbar-popup-widget-c" link="spage_pharma">
            <img src="lib/images/emblem/emblem_pharma.png" alt="">
        </div>
        <div class="emblem2-widget navbar-popup-widget-c" link="spage_food">
            <img src="lib/images/emblem/emblem_food.png" alt="">
        </div>
        <div class="emblem2-widget navbar-popup-widget-c" link="spage_gas">
            <img src="lib/images/emblem/emblem_energy.png" alt="">
        </div>
        <div class="emblem2-widget navbar-popup-widget-c" link="spage_water">
            <img src="lib/images/emblem/emblem_water.png" alt="">
        </div>
        <div class="emblem2-widget navbar-popup-widget-c" link="spage_industryauto">
            <img src="lib/images/emblem/emblem_industry.png" alt="">
        </div>
    </div>
    <div id="home-content-gallery" class="contactgallery">
        <div class="scroller ">
            <!-- <div class="widget">
                <img src="" alt="">
                <span>CompanyName</span>
            </div> -->
        </div>
    </div>
    
    
</div>
