<div id="multipage" class="page-content hidden">
    <div class="multipage-header">
        <!-- <i id="multipage-mininav-mobile-h" class="fas fa-bars closed"></i> -->
        <span class="title">LIFE</span>
        <span class="subtitle">SCIENCE</span>
    </div>
    <div link="" class="multipage-content hidden mainpage">
        <span class="title">A WORLD LEADER IN FERMENTERS & BIOREACTORS</span>
        <span class="text">Pierre Guerin offers you the knowledge of numerous applications gained from several decades experience, for the production of biological & sterile products</span>
        <iframe class="video" src="https://www.youtube.com/embed/wIF5kqRwrgw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="multipage-content  specificationspage">
        <div class="multipage-specificationspage-model">
            <img src="https://via.placeholder.com/500x300?text=Another+Logo" alt="">
            <div class="model-con">
                <span class="title">Model</span>
                <span class="modeltext">PRIMO AUTOCLAVABLE BIOREACTORS & FERMENTERS INDUSTRIAL QUALITY - 1L TO 10L USEFUL</span>
                <span class="techsheet">TECHNICAL SHEET<i class="fas fa-download"></i></span>
                <span class="contact">CONTACT<i class="fas fa-download"></i></span>
            </div>
        </div>
        <span class="title">PRESENTATION</span>
        <span class="text">A new generation of autoclavable bioreactors that represents the state of the art response to the evolution of the biotech processes. <br> <b>NEPTUNE&trade;</b> command control system, applied to the entire <b>STEPWELL INTERNATIONAL</b> range of fermentation and cell culture equipment, facilitates the industrialization of your processes from the Research & Development stage to production, whether in a GLP or GMP environment.</span>
        <span class="title">TECHNICAL CHARACTERISTICS</span>
        <span class="text">- Benefits for the user -</span>
        <ul class="list">
            <li>Ergonomic, modular and compact system</li>
            <li>Five standard interchangeable vessels, from 1 to 10 L w/v* for fermentation or cell culture, plus custom vessels on request</li>
            <li>Easy installation and maintenance</li>
            <li>NEPTUNETM Control system with user friendly and intuitive interface (12.1’’ Touch screen PANEL PC) suitable for Research & Development or small scale production in GLP / GMP environments</li>
            <li>Micro-PLC SIEMENS – SCADA based Control technology ensuring robustness and reliability to the system</li>
            <li>Software developed from non-proprietary platforms complying with GMP requirements (21 CFR PART 11 and GAMP 5)</li>
            <li>Remote supervision of multiple bioreactors via ETHERNETTM network</li>
        </ul>
        <div class="space"></div>
        <div class="multipage-specificationspage-practicalcase">
            <div class="model-con">
                <span class="title">DESCRIPTION</span>
                <span class="modeltext">Autoclavable bioreactors.</span>
                <br>
                <span class="title">APPLICATIONS </span>
                <span class="modeltext">Microbial or cell culture on an R&D scale.</span>
            </div>
            <img src="https://via.placeholder.com/500x300?text=Another+Logo" alt="">
        </div>
        <div class="space"></div>
    </div>
    <div class="multipage-content hidden productspage">
        <img class="image" src="https://via.placeholder.com/500x300?text=Another+Logo" alt="">
        <table class="table">
            <caption>Monthly savings</caption>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Savings</th>
                    <th>Credit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>January</td>
                  <td>$100</td>
                  <td>$100</td>
                </tr>
                <tr>
                  <td>February</td>
                  <td>$80</td>
                  <td>$80</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Sum</td>
                  <td colspan="1">$180</td>
                </tr>
              </tfoot>
        </table>
        <div class="space"></div>
        <span class="title">PRESENTATION</span>
        <span class="text">A new generation of autoclavable bioreactors that represents the state of the art response to the evolution of the biotech processes. <br> <b>NEPTUNE&trade;</b> command control system, applied to the entire <b>STEPWELL INTERNATIONAL</b> range of fermentation and cell culture equipment, facilitates the industrialization of your processes from the Research & Development stage to production, whether in a GLP or GMP environment.</span>
        <span class="title">TECHNICAL CHARACTERISTICS</span>
        <span class="text">- Benefits for the user -</span>
        <ul class="list">
            <li>Ergonomic, modular and compact system</li>
            <li>Five standard interchangeable vessels, from 1 to 10 L w/v* for fermentation or cell culture, plus custom vessels on request</li>
            <li>Easy installation and maintenance</li>
            <li>NEPTUNETM Control system with user friendly and intuitive interface (12.1’’ Touch screen PANEL PC) suitable for Research & Development or small scale production in GLP / GMP environments</li>
            <li>Micro-PLC SIEMENS – SCADA based Control technology ensuring robustness and reliability to the system</li>
            <li>Software developed from non-proprietary platforms complying with GMP requirements (21 CFR PART 11 and GAMP 5)</li>
            <li>Remote supervision of multiple bioreactors via ETHERNETTM network</li>
        </ul>
        <div class="list2">
            <span class="title">New Title</span>
            <div class="left list2container">
                <span class="title">Left Side Title</span>
                <span class="text">Our Quality Program includes, such as:</span>
                <ul>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1</li>
                </ul>
            </div>
            <div class="right list2container">
                <span class="title">Right Side Title</span>
                <ul>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1</li>
                
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                    <li>List Item 1</li>
                </ul>
            </div>
        </div>

        <!-- // FRAMEWORK FOR THE  TABLE -->
        <!-- ,{
            "type" : "table",
            "data" : {
                "caption" : "SAMPLE TABLE",
                "thead" : [ "Month", "Savings", "Credit" ],
                "tbody" : [
                    {
                        "data" : [
                            "January",
                            "$100",
                            "$90"
                        ]
                    },{
                        "data" : [
                            "February",
                            "$100",
                            "$80"
                        ]
                    },{
                        "data" : [
                            "March",
                            "$400",
                            "$20"
                        ]
                    }
                ],
                "tfoot" : [ "January", "", "$180" ]
            }
        } -->
        

    </div>
    <div class="multipage-content hidden ">
        <!-- <div class="multipage-coll-content">
            <span status="closed" class="title multipage-coll-content-h">Cartriges<i class="fas fa-caret-right"></i></span>
            <div class="content hidden">
                <img class="image" src="https://via.placeholder.com/500x300?text=Another+Logo" alt="">
                <table class="table">
                    <caption>Monthly savings</caption>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Savings</th>
                            <th>Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>January</td>
                        <td>$100</td>
                        <td>$100</td>
                        </tr>
                        <tr>
                        <td>February</td>
                        <td>$80</td>
                        <td>$80</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                        <td>Sum</td>
                        <td colspan="1">$180</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="space"></div>
                <span class="title">PRESENTATION</span>
                <span class="text">A new generation of autoclavable bioreactors that represents the state of the art response to the evolution of the biotech processes. <br> <b>NEPTUNE&trade;</b> command control system, applied to the entire <b>STEPWELL INTERNATIONAL</b> range of fermentation and cell culture equipment, facilitates the industrialization of your processes from the Research & Development stage to production, whether in a GLP or GMP environment.</span>
                <span class="title">TECHNICAL CHARACTERISTICS</span>
                <span class="text">- Benefits for the user -</span>
                <ul class="list">
                    <li>Ergonomic, modular and compact system</li>
                    <li>Five standard interchangeable vessels, from 1 to 10 L w/v* for fermentation or cell culture, plus custom vessels on request</li>
                    <li>Easy installation and maintenance</li>
                    <li>NEPTUNETM Control system with user friendly and intuitive interface (12.1’’ Touch screen PANEL PC) suitable for Research & Development or small scale production in GLP / GMP environments</li>
                    <li>Micro-PLC SIEMENS – SCADA based Control technology ensuring robustness and reliability to the system</li>
                    <li>Software developed from non-proprietary platforms complying with GMP requirements (21 CFR PART 11 and GAMP 5)</li>
                    <li>Remote supervision of multiple bioreactors via ETHERNETTM network</li>
                </ul>
                <div class="list2">
                    <span class="title">New Title</span>
                    <div class="left list2container">
                        <span class="title">Left Side Title</span>
                        <span class="text">Our Quality Program includes, such as:</span>
                        <ul>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1</li>
                        </ul>
                    </div>
                    <div class="right list2container">
                        <span class="title">Right Side Title</span>
                        <ul>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1List Item 1</li>
                        
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                            <li>List Item 1</li>
                        </ul>
                    </div>
                </div>
                <i class="fas fa-arrow-alt-circle-up scrollup multipage-coll-content-scrollup"></i>
            </div>
        </div> -->

        <div class="imagetext imagetext-l ">
            <div>
                <img src="lib/images/pageimages/cimg11.png" alt="" >
            </div>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
            
        </div>
        <div class="imagetext right">
            <div class="ccc">
                <img src="lib/images/pageimages/cimg11.png" alt="" >
            </div>
            <span>Lorem Ipsum is </span>
            
        </div>
    </div>


    
    
    
    

    
    <div id="multipage-mininav" class="multipage-mininav">
        <!-- <i id="multipage-mininav-mobile-x" class="fas fa-times"></i> -->
        <!-- <div class="search">
            <input type="text">
            <button class="bg-color-btn">Search</button>
        </div> -->
        <div class="multipage-mininav-widget idle">
            <span class="maintitle">LIFE SCIENCES<i class="fas fa-caret-right"></i></span>
        </div>
        <div class="multipage-mininav-widget idle">
            <span status="idle" class="multipage-mininav-widget-maintitle maintitle">FOOD & BEVERAGE<i class="fas fa-caret-right"></i></span>
            <div class="subtitle-con hidden">

                <div class="subtitle">
                    <span status="idle" link="mnav21" class="title multipage-mininav-widget-subtitle multipage-mininav-handle">BIOTECHNOLOGIES<i class="fas fa-caret-right"></i></span>
                    <div class="ktitle-con hidden">
                        <span link="mnav1" class="ktitle multipage-mininav-handle">Bioreactors & fermenters autoclavable primo</span>
                        <span link="mnav3" class="ktitle multipage-mininav-handle">Control suite for bioprocess applications neptune™</span>
                        <span link="mnav4" class="ktitle multipage-mininav-handle">Harvest and inactivation vessels biovessel™</span>
                        <span link="mnav5" class="ktitle multipage-mininav-handle">Media and buffer preparation vessels biovessel™</span>
                        <span link="mnav6" class="ktitle multipage-mininav-handle">Single-use bioreactors nucléo™</span>
                        <span link="mnav7" class="ktitle multipage-mininav-handle">Steam in place cell culture bioreactors biocell™ lab & pilot series</span>
                        <span link="mnav8" class="ktitle multipage-mininav-handle">Steam in place microbial fermenters biopro™ evo series™</span>
                        <span link="mnav9" class="ktitle multipage-mininav-handle">Steam in place microbial fermenters biopro™ lab & pilot series</span>
                        <span link="mnav10" class="ktitle multipage-mininav-handle">Turnkey fermentation and cell culture units</span>
                        <span link="mnav11" class="ktitle multipage-mininav-handle">Unifertex a universal fermenter for growing micro-organisms</span>
                    </div>
                </div>
                <div class="subtitle">
                    <span link="mnav22" status="idle" class="title multipage-mininav-widget-subtitle multipage-mininav-handle">PHARMACEUTICS<i class="fas fa-caret-right"></i></span>
                    <div class="ktitle-con hidden">
                        <span link="mnav12" class="ktitle multipage-mininav-handle">Formulation vessels biovessel™</span>
                        <span link="mnav13" class="ktitle multipage-mininav-handle">Storage and filling vessels biovessel™</span>
                        <span link="mnav14" class="ktitle multipage-mininav-handle">Turnkey pharmaceutical units in gmp environment</span>
                    </div>
                </div>
                <div class="subtitle">
                    <span link="mnav23" status="idle" class="title multipage-mininav-widget-subtitle multipage-mininav-handle">PERSONAL CARE<i class="fas fa-caret-right"></i></span>
                    <div class="ktitle-con hidden">
                        <span link="mnav15" class="ktitle multipage-mininav-handle">Cream mixers mcd™</span>
                        <span link="mnav16" class="ktitle multipage-mininav-handle">Melting vessels and process vesselsfor shampoos and lotions biovessel™</span>
                        <span link="mnav17" class="ktitle multipage-mininav-handle">Storage and filling vessels biovessel™</span>
                        <span link="mnav18" class="ktitle multipage-mininav-handle">Turnkey personal care units</span>
                    </div>
                </div>
                <div class="subtitle">
                    <span link="mnav24" status="idle" class="title multipage-mininav-widget-subtitle multipage-mininav-handle">HYDROTHERAPY<i class="fas fa-caret-right"></i></span>
                    <div class="ktitle-con hidden">
                        <span link="mnav19" class="ktitle multipage-mininav-handle">Thermal water storage vessels eth</span>
                        <span link="mnav20" class="ktitle multipage-mininav-handle">Turnkey hydrotherapy units</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
