<div id="news" class="page-content hidden">
    <div class="news-header">
        <span class="title">NEWS</span>
    </div>

    <div class="news-content">
        <div class="news-featured">
            <div class="text-content">
                <iframe class="video" src="https://www.youtube.com/embed/wIF5kqRwrgw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span class="title"><b>STEPWELL INTERNATIONAL</b> WISHES YOU A HAPPY NEW YEAR!</span>
                <span class="title">GOODBYE 2020, WELCOME 2021!</span>
                <span class="text">The whole team of <b>STEPWELL INTERNATIONAL</b> wishes you an excellent year 2021!</span>
                <span class="text">May it bring you happiness, health and great success but also many little joys and times to share.</span>
                <span class="text">Together let's have the common goal in healthcare & nutrition: a definable highest!</span>
                <div class="space"></div>
            </div>
        </div>
        <div class="news-active">
            <div class="news-active-widget">
                <img src="lib/images/gallery/gallery1.jpg" alt="">
                <div class="footer">
                    <div class="date">
                        <span>June</span>
                        <span>25 - 2020</span>
                    </div>
                    <span class="title">TASCMAR, A WINNING INNOVATION OF THE EUROPE 2020 STARS</span>
                </div>
            </div>
        </div>
        <div class="news-archived">
            <span class="title">Our archived news<i class="fas fa-caret-down"></i></span>
            <div class="news-archived-content">
                <div class="news-archived-nav">
                    <span yearid="2020" class="news-archived-nav-widget active">2020</span>
                    <span yearid="2019" class="news-archived-nav-widget">2019</span>
                    <span yearid="2018" class="news-archived-nav-widget">2018</span>
                    <span yearid="2017" class="news-archived-nav-widget">2017</span>
                </div>
                <br>
                <div yearid="2020" class="news-archived-widget-con ">
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>June</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery1.jpg" alt="">
                        <span link="spage_news1" class="title news-archived-handle">TASCMAR, A WINNING INNOVATION OF THE EUROPE 2020 STARS</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Jan</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery2.jpg" alt="">
                        <span class="title">INAUGURATION OF UNIFERTEX EQUIPMENT</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Sept</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery3.jpg" alt="">
                        <span class="title">“MIXING AND AGITATION IN THE PHARMACEUTICAL INDUSTRY” SEMINAR IN CASABLANCA</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Dec</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery4.jpg" alt="">
                        <span class="title">DAY - FERMENTATION OF PLANT PROTEINS</span>
                    </div>
                </div>
                
                <div yearid="2019" class="news-archived-widget-con hidden">
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>June</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery2.jpg" alt="">
                        <span class="title">TASCMAR, A WINNING INNOVATION OF THE EUROPE 2020 STARS</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Jan</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery3.jpg" alt="">
                        <span class="title">INAUGURATION OF UNIFERTEX EQUIPMENT</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Sept</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery4.jpg" alt="">
                        <span class="title">“MIXING AND AGITATION IN THE PHARMACEUTICAL INDUSTRY” SEMINAR IN CASABLANCA</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Dec</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery1.jpg" alt="">
                        <span class="title">DAY - FERMENTATION OF PLANT PROTEINS</span>
                    </div>
                </div>
                
                <div yearid="2018" class="news-archived-widget-con hidden">
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>June</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery3.jpg" alt="">
                        <span class="title">TASCMAR, A WINNING INNOVATION OF THE EUROPE 2020 STARS</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Jan</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery4.jpg" alt="">
                        <span class="title">INAUGURATION OF UNIFERTEX EQUIPMENT</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Sept</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery1.jpg" alt="">
                        <span class="title">“MIXING AND AGITATION IN THE PHARMACEUTICAL INDUSTRY” SEMINAR IN CASABLANCA</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Dec</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery2.jpg" alt="">
                        <span class="title">DAY - FERMENTATION OF PLANT PROTEINS</span>
                    </div>
                </div>
                
                <div yearid="2017" class="news-archived-widget-con hidden">
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>June</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery4.jpg" alt="">
                        <span class="title">TASCMAR, A WINNING INNOVATION OF THE EUROPE 2020 STARS</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Jan</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery1.jpg" alt="">
                        <span class="title">INAUGURATION OF UNIFERTEX EQUIPMENT</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Sept</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery2.jpg" alt="">
                        <span class="title">“MIXING AND AGITATION IN THE PHARMACEUTICAL INDUSTRY” SEMINAR IN CASABLANCA</span>
                    </div>
                    <div class="news-archived-widget">
                        <div class="date">
                            <span>Dec</span>
                            <span>25</span>
                        </div>
                        <img src="lib/images/gallery/gallery3.jpg" alt="">
                        <span class="title">DAY - FERMENTATION OF PLANT PROTEINS</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="space"></div>
    </div>
        
</div>

<!-- 
,{
    "popupid" : "p5",
    "name" : "Knowledge Centre",
    "leftpanel" : "undefined",
    "rightpanel" : "undefined",
    "link" : "news"
} -->