<div id="recruitment" class="page-content hidden">
    <div class="recruitment-header">
        <span id="recruitment-header-avjobs" class="avjobs shadow">12 Jobs Available</span>
        <!-- <div class="search">
            <input type="text" placeholder="Search Jobs">
            <button>Search</button>
        </div>
        <span id="recruitment-header-spontaneous" class="spont shadow">Spontaneous Application</span> -->
    </div>
    <div class="recruitment-joblist hidden">
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
        <div class="recruitment-joblist-widget">
            <span class="title">Scheduling / launching technician (M / F)</span>
            <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
            <button class="shadow recruitment-joblist-view">View the Offer</button>
        </div>
    </div>
    <div class="recruitment-jobinfo hidden shadow">
        <span class="update">updated 4 days ago</span>
        <span class="maintitle">Scheduling / launching technician (M / F)</span>
        <hr class="divide">
        <span class="location"><i class="fas fa-map-marker-alt"></i>New York</span>
        <div class="info">
            <span class="pdate">Publication date: <b>01/28/2021</b></span>
            <span class="ref">Ref: <b> PGF00111 / SI</b></span>
        </div>
        <button class="apply shadow recruitment-jobinfo-view">Apply</button>
        <div class="content">
            <span class="title">What can we accomplish together?</span>
            <span class="text">Attached to the Design Office within Industrial Operations , your role is to  carry out the manufacturing file, organize and anticipate the purchases defined by the BOs so that all the parts are ready for the start of manufacturing.</span>
            <span class="text">For this, you will be in charge, among other things, of:</span>
            <ul class="list">
                <li>Receive and analyze the BOM and / or pre-approvals (List of components)</li>
                <li>Analyze customer manufacturing standards (ASME, DESP, ATEX, etc.) provided for in the plans and in conjunction with the Traceability and Methods teams</li>
                <li>Define the articles and create them in the MDD</li>
                <li>Update the BOM and pre-approvals by filling in the item codes for updating</li>
                <li>Create BOM items, fill in item codes, create Production Orders (OF)</li>
                <li>Receive the "Good for manufacture" plans and create the production range (list of operations and time allocated)</li>
                <li>Manage unforeseen events and propose substitute solutions</li>
                <li>Check the BOM and finalize the purchasing / procurement process</li>
                <li>Edit plans / nomenclature file and distribute to production teams to start the manufacturing phase</li>
                <li>Carry out its missions in compliance with the Quality and Safety rules</li>
            </ul>
            <span class="text">The missions can be brought to evolve according to the needs of the company.</span>
            <div class="space"></div>
            <span class="text"><b>Benefits:</b> 13 months' salary + incentive and profit sharing + vacation bonus + mutual insurance + company restaurant + RTT + Integration path and training in PIERRE GUERIN trades.</span>
            <div class="space"></div>
            <span class="title">Who are you ?</span>
            <ul class="list">
                <li>Holder of a Bac + 2 ROC / CRCI or mechanical training</li>
                <li>You have a first successful experience in a similar function. </li>
                <li>You with technical knowledge of boiler making and / or piping, particularly in the manufacturing and assembly processes. </li>
                <li>You master the Pack office / Autocad / Inventor / ERP tools. </li>
                <li>Autonomous and rigorous, you also have good interpersonal skills. </li>
                <li>You know how to organize and prioritize your files.</li>
            </ul>
        </div>
        <button class="apply shadow">Apply</button>
        
    </div>
    <div class="recruitment-application  shadow">
        <span class="maintitle">Apply for the offer</span>
        <hr class="divide">
        <img src="lib/images/companylogo.png" alt="">
        <span class="jobtitle">Application - "<span class="joboffer">Intervention technician Agence Lyon (M/F) asparagus</span>"</span>
        <div class="formstatus">
            <div class="p first active">
                <span class="n">1</span>
                <span class="t">CV</span>
            </div>
            <div class="s first active"></div>
            <div class="s second"></div>
            <div class="p second">
                <span class="n">2</span>
                <span class="t">FORM</span>
            </div>
        </div>
        <hr class="longdivide">
        
        <div class="upload-con">
            <div class="upload-resume" >
                <span onclick="$('#recruitment_cvupload').click();">Upload your Resume</span>
                <i onclick="$('#recruitment_cvupload').click();" class="fas fa-upload"></i>
                <input id="recruitment_cvupload" onchange="recruitment_cvupload()" type="file" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" style="display: none;">
            </div>
            <div class="validate">
                <button id="recruitment-application-validate" class="shadow">Validate</button>
                <button class="shadow">Delete</button>
            </div>
            <div class="or">
                <hr>
                <span>or</span>
            </div>
            <button id="recruitment-application-next" class="noresume">Apply Without Resume</button>
            <button id="recruitment-application-return" class="noresume">Back to Job Description</button>
        </div>
        <div class="form-con hidden">
            <div class="widget">
                <span class="title">Name Prefix</span>
                <select name="" id="recruitment-applicationform-prefix">
                    <option value="na" selected="selected" disabled>Name Prefix</option>
                    <option value="mr">Mr</option>
                    <option value="ms">Ms</option>
                    <option value="mrs">Mrs</option>
                </select>
            </div>
            <div class="widget">
                <span class="title">Firstname</span>
                <input id="recruitment-applicationform-firstname" type="text" placeholder="Enter Firstname">
            </div>
            <div class="widget">
                <span class="title">Lastname</span>
                <input id="recruitment-applicationform-lastname" type="text" placeholder="Enter Lastname">
            </div>
            <div class="widget">
                <span class="title">Email Address</span>
                <input id="recruitment-applicationform-email" type="text" placeholder="Enter Email Address">
            </div>
            <div class="widget">
                <span class="title">Phone Number</span>
                <input id="recruitment-applicationform-phone" type="text" placeholder="Enter Phone Number">
            </div>
            <div class="widget">
                <span class="title">Highest Education Attained</span>
                <select name="" id="recruitment-applicationform-education">
                    <option value="na" selected="selected" disabled>Highest Education Attained</option>
                    <option value="non">No Formal Education</option>
                    <option value="pri">Primary Education</option>
                    <option value="sec">Secondary Education or High School</option>
                    <option value="ged">GED</option>
                    <option value="voc">Vocational Qualification</option>
                    <option value="bac">Bachelor's Degree</option>
                    <option value="mas">Master's Degree</option>
                    <option value="doc">Doctorate or Higher</option>
                </select>
            </div>
            <div class="widget">
                <span class="title">Position you are Applying for</span>
                <input id="recruitment-applicationform-position" type="text" placeholder="Enter Position">
            </div>
            <div class="widget">
                <span class="title">Skills</span>
                <textarea id="recruitment-applicationform-skills" type="text" placeholder="List out your Relevant Skills"></textarea>
            </div>
            <div class="widget">
                <span class="title">Work Experience</span>
                <textarea id="recruitment-applicationform-experience" type="text" placeholder="List out your Relevant Work Experience"></textarea>
            </div>
            <div class="widget">
                <span class="title">Salary Expectation</span>
                <input id="recruitment-applicationform-salary" type="text" placeholder="Enter Salary Expectation">
            </div>
            <div class="sign">
                <input id="recruitment-application-sign" type="checkbox">
                <label for="recruitment-application-sign">
                    By submitting this form, I agree that the information entered will be used in the context of my job search by any person having an interest in the study of my application: recruiter, operational, decision maker or client of <b>STEPWELL INTERNATIONAL</b> for the duration strictly necessary for the finalization of the recruitment process.
                    In accordance with Canadian Regulation No. 2016/679 of the Canadian Parliament and of the Council of April 27, 2016, I confirm that I know my right to access data concerning me and to have them rectified or deleted by contacting: recruitment@stepwellinc.com
                </label>
            </div>
            <div class="coverletter">
                <span class="title">Upload Your Cover Letter</span>
                <span class="upload-coverletter" onclick="$('#recruitment_coverletter').click();">Select File</span>
                <input id="recruitment_coverletter" onchange="recruitment_coverletter()" type="file" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" style="display: none;">
            </div>
            <button id="recruitment-application-submit" class=" shadow">Confirm Application</button>
            <button id="recruitment-application-form-return" class=" shadow">Return to Uploading</button>
        </div>



        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>