<div id="referencepage" class="page-content hidden">
    <div class="referencepage-header">
        <span class="title">LIFE</span>
        <span class="subtitle">SCIENCES</span>
    </div>

    <div class="referencepage-content">
        <div class="ref">
            <div class="referencepage-widget">
                <span>Albit</span>
                <span>Russia</span>
            </div>
            <div class="referencepage-widget">
                <span>Baxter Belgium Italy</span>
                <span>Swiss</span>
            </div>
            <div class="referencepage-widget">
                <span>Bilthoven Biologicals</span>
                <span>Netherlands</span>
            </div>
            <div class="referencepage-widget">
                <span>Biovac South</span>
                <span>Africa</span>
            </div>
            <div class="referencepage-widget">
                <span>BP Biofuel & Verenium</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Ceva Biomune Hungary</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>CPI</span>
                <span>UK</span>
            </div>
            <div class="referencepage-widget">
                <span>Danisco UK</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>DianaPlantSciences</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Elephant Vert</span>
                <span>Morocco</span>
            </div>
            <div class="referencepage-widget">
                <span>Epitopix</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Excelvision</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Fermentalg</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Gilead</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>GSK & GSK Vaccine UK Belgium France Singapore</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Hualan Bio</span>
                <span>China</span>
            </div>
            <div class="referencepage-widget">
                <span>L'Occitane</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Lily</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Lonza UK</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Meddimune</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Merck Millipore France</span>
                <span>Swiss</span>
            </div>
            <div class="referencepage-widget">
                <span>Merial France Italy</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>NIBRT</span>
                <span>Irlande</span>
            </div>
            <div class="referencepage-widget">
                <span>Novartis France</span>
                <span>Singapore</span>
            </div>
            <div class="referencepage-widget">
                <span>Pfizer France</span>
                <span>Irlande</span>
            </div>
            <div class="referencepage-widget">
                <span>Public Health England</span>
                <span>UK</span>
            </div>
            <div class="referencepage-widget">
                <span>Samsung Biologics</span>
                <span>Korea</span>
            </div>
            <div class="referencepage-widget">
                <span>Sanofi & Sanofi Pasteur Canada</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Sisley</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Takeda</span>
                <span>USA</span>
            </div>
            <div class="referencepage-widget">
                <span>Tecon</span>
                <span>China</span>
            </div>
            <div class="referencepage-widget">
                <span>Unither</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Volac</span>
                <span>France</span>
            </div>
            <div class="referencepage-widget">
                <span>Protgen</span>
                <span>China</span>
            </div>
            <div class="referencepage-widget">
                <span>Minhai Biotechnology</span>
                <span>China</span>
            </div>
        </div>
        <!-- <img src="lib/images/gallery/gallery3.jpg" alt=""> -->
        <img src="https://via.placeholder.com/300x900?text=Another+Logo" alt="">
        
    </div>

    
</div>