<div id="nav">

    <div id="navcon-dashboard" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-dashboard" class="nav-widget-title">Dashboard</span>
        </div>
    </div>

    <!-- <div id="navcon-define" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-define" class="nav-widget-title">Define Document</span>
        </div>
    </div>
    <div id="navcon-create-upload" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-create-upload" class="nav-widget-title">Upload New Doc</span>
        </div>
    </div>
    <div id="navcon-create-build" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-create-build" class="nav-widget-title">Build New Doc</span>
        </div>
    </div>
    <div id="navcon-documents" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-documents" class="nav-widget-title">Documents</span>
        </div>
    </div> -->
    <!-- <div id="navcon-documents" class="nav-widget">
        <span class="nav-widget-title"><i class="fas fa-user nav-widget-icon"></i>Documents</span>
        <div class="nav-sub-widget">
            <span id="nav-documents-list" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Doc List</span>
            <span id="nav-documents-props" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-plus nav-subwidget-icon"></i>Doc Properties</span>
            <span id="nav-documents-connect" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Doc Connect</span>
        </div>
    </div> -->
    <!-- <div id="navcon-search" class="nav-widget">
        <span class="nav-widget-title"><i class="fas fa-user nav-widget-icon"></i>Search Documents</span>
        <div class="nav-sub-widget">
            <span id="nav-search-category" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Search by Category</span>
            <span id="nav-search-title" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-plus nav-subwidget-icon"></i>Search by Title</span>
            <span id="nav-search-user" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Search by User</span>
        </div>
    </div> -->

</div>