<div id="nav">

    <div id="navcon-dashboard" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-dashboard" class="nav-widget-title">Active Projects</span>
        </div>
    </div>

    <div id="navcon-schedule" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-calendar nav-widget-icon"></i>
            <span id="nav-project-schedule" class="nav-widget-title">New Projects</span>
            <!-- called Scheduling on php project-schedule-con-->
        </div>
    </div>
    
    <div id="navcon-archive" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-archive nav-widget-icon"></i>
            <span id="nav-archive" class="nav-widget-title">Archived Projects</span>
        </div>
    </div>

    <div id="navcon-timesheet" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-business-time nav-widget-icon"></i>
            <span id="nav-project-timesheet" class="nav-widget-title">Project Timesheet</span>
            <!-- called Scheduling on php project-schedule-con-->
        </div>
    </div>

    <div id="navcon-usertaskboard" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-thumbtack nav-widget-icon"></i>
            <span id="nav-usertaskboard" class="nav-widget-title">My Tasks</span>
        </div>
    </div>


    


    

    
    


</div>