<div id="nav">

    <div id="navcon-dashboard" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-dashboard" class="nav-widget-title">My Docs</span>
        </div>
    </div>

    <div id="navcon-me" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-me" class="nav-widget-title">Doc Manager</span>
        </div>
    </div>

    <div id="navcon-upload" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-upload" class="nav-widget-title">Doc Upload</span>
        </div>
    </div>
    <!-- <div id="navcon-dashboard" class="nav-widget">
        <span id="nav-dashboard" class="nav-widget-title"><i class="fas fa-solar-panel nav-widget-icon"></i>Dashboard</span>
    </div> -->

    <!-- <div id="navcon-document" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-user nav-widget-icon"></i>
            <span class="nav-widget-title">Doc Flow Manager</span>
        </div>
        <div class="nav-sub-widget">
            <div class="nav-widget-con">
                <i class="fas fa-user-cog nav-subwidget-icon"></i>
                <span id="nav-document-proofread" class="nav-subwidget-title">Doc Proofread</span>
            </div>
            <div class="nav-widget-con">
                <i class="fas fa-user-plus nav-subwidget-icon"></i>
                <span id="nav-document-review" class="nav-subwidget-title">Doc Review</span>
            </div>
            <div class="nav-widget-con">
                <i class="fas fa-user-cog nav-subwidget-icon"></i>
                <span id="nav-document-approve" class="nav-subwidget-title">Doc Approve</span>
            </div>
            <div class="nav-widget-con">
                <i class="fas fa-user-cog nav-subwidget-icon"></i>
                <span id="nav-document-postapprove" class="nav-subwidget-title">Doc Post Approve</span>
            </div>
        </div>
    </div> -->

    

</div>