<div id="nav">

    <div id="navcon-dashboard" class="nav-widget">
        <span id="nav-dashboard" class="nav-widget-title"><i class="fas fa-solar-panel nav-widget-icon"></i>Dashboard</span>
    </div>
    
    <div id="navcon-build" class="nav-widget">
        <span id="nav-build" class="nav-widget-title"><i class="fas fa-solar-panel nav-widget-icon"></i>Build Process</span>
    </div>
    <div id="navcon-manage" class="nav-widget">
        <span class="nav-widget-title"><i class="fas fa-user nav-widget-icon"></i>Data Manager</span>
        <div class="nav-sub-widget">
            <span id="nav-manage-unit" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Manage Unit</span>
            <span id="nav-manage-equipment" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-plus nav-subwidget-icon"></i>Manage Equipment</span>
        </div>
    </div>
   

</div>