<div id="builder-datasheet" class="hidden">
    <div  class="container">
        <i id="builder-datasheet-close" class="fas fa-times"></i>
        <i id="builder-datasheet-print" class="fas fa-print"></i>
        <span class="title">DATA SHEET</span>
        <!-- <textarea id="builder-datasheet-content"></textarea> -->
        <div id="builder-datasheet-container" class="widget-container">
            <div class="builder-datasheet-main" status="closed">
                <div class="header builder-datasheet-header-h">
                    <span class="title">IDENTIFICATION</span>
                    <i class="builder-datasheet-add fas fa-grip-lines hidden"></i>
                    <i class="builder-datasheet-addsingle fas fa-minus hidden"></i>
                    <i class="builder-datasheet-addsingle fas fa-minus hidden"></i>
                </div>
                <div id="builder-datasheet-identification" class="widget-con hidden">
                    
                    <!-- <div class="widget">
                        <div class="widget-param label">
                            <span class="label">Label</span>
                            <input type="text">
                        </div>
                        <div class="widget-param value">
                            <span class="label">Value</span>
                            <input type="text">
                        </div>
                    </div> -->
    
                </div>
            </div>
            <div class="builder-datasheet-main" status="closed">
                <div class="header builder-datasheet-header-h">
                    <span class="title">SPECIFICATION</span>
                    <i class="builder-datasheet-add fas fa-grip-lines hidden"></i>
                    <i class="builder-datasheet-addsingle fas fa-minus hidden"></i>
                </div>
                <div id="builder-datasheet-specification" class="widget-con hidden">
                    
                    <!-- <div class="widget">
                        <div class="widget-param">
                            <span class="label">Label</span>
                            <input type="text">
                        </div>
                        <div class="widget-param">
                            <span class="label">Value</span>
                            <input type="text">
                        </div>
                    </div> -->
    
                </div>
            </div>
            <div class="builder-datasheet-main" status="closed">
                <div class="header builder-datasheet-header-h">
                    <span class="title">DOCUMENTATION</span>
                    <i class="builder-datasheet-add fas fa-grip-lines hidden"></i>
                    <i class="builder-datasheet-addsingle fas fa-minus hidden"></i>
                </div>
                <div id="builder-datasheet-documentation" class="widget-con hidden">
                    
                    <!-- <div class="widget">
                        <div class="widget-param">
                            <span class="label">Label</span>
                            <input type="text">
                        </div>
                        <div class="widget-param">
                            <span class="label">Value</span>
                            <input type="text">
                        </div>
                    </div> -->
    
                </div>
            </div>
            <div class="builder-datasheet-main" status="closed">
                <div class="header builder-datasheet-header-h">
                    <span class="title">PROCESS DESCRIPTION</span>
                    <i class="builder-datasheet-add fas fa-grip-lines hidden"></i>
                    <i class="builder-datasheet-addsingle fas fa-minus hidden"></i>
                </div>
                <div id="builder-datasheet-process" class="widget-con hidden">
                    
                    <!-- <div class="widget">
                        <div class="widget-param">
                            <span class="label">Label</span>
                            <input type="text">
                        </div>
                        <div class="widget-param">
                            <span class="label">Value</span>
                            <input type="text">
                        </div>
                    </div> -->
    
                </div>
            </div>
            <div class="builder-datasheet-main" status="closed">
                <div class="header builder-datasheet-header-h notes">
                    <span class="title">NOTES</span>
                </div>
                <textarea id="builder-datasheet-notes" class="hidden"></textarea>
            </div>
        </div>

        <div class="builder-datasheet-addsheet">
            <input id="builder-datasheet-addsheet-text" type="text" placeholder="Enter New Sheet Name">
            <button id="builder-datasheet-addsheet-submit">Add Custom Sheet</button>
        </div>
        <button id="builder-datasheet-submit">Save</button>
    </div>
</div>