<div id="nav">

    <!-- <div id="navcon-dashboard" class="nav-widget">
        <span id="nav-dashboard" class="nav-widget-title"><i class="fas fa-solar-panel nav-widget-icon"></i>Dashboard</span>
    </div>
    <div id="navcon-build" class="nav-widget">
        <span id="nav-build" class="nav-widget-title"><i class="fas fa-solar-panel nav-widget-icon"></i>Build Skid</span>
    </div>
    <div id="navcon-manage" class="nav-widget">
        <span class="nav-widget-title"><i class="fas fa-user nav-widget-icon"></i>Data Manager</span>
        <div class="nav-sub-widget">
            <span id="nav-manage-unit" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Manage Unit</span>
            <span id="nav-manage-equipment" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-plus nav-subwidget-icon"></i>Manage Equipment</span>
        </div> 
    </div> -->
   

    <div id="navcon-dashboard" class="nav-widget">
        <div class="nav-widget-con module proflow">
            <i class="fas fa-solar-panel nav-widget-icon"></i>
            <span id="nav-dashboard" class="nav-widget-title">Dashboard</span>
        </div>
    </div>
    <div id="navcon-build" class="nav-widget">
        <div class="nav-widget-con module proflow">
            <i class="fas fa-hand-holding-water nav-widget-icon"></i>
            <span id="nav-build" class="nav-widget-title">Build Skid</span>
        </div>
    </div>
    <div id="navcon-data" class="nav-widget">
        <div class="nav-widget-con module proflow">
            <i class="fas fa-vector-square nav-widget-icon"></i>
            <span id="nav-data" class="nav-widget-title">Data Manager</span>
        </div>
    </div>
    <div id="navcon-skid" class="nav-widget">
        <div class="nav-widget-con module proflow">
            <i class="fas fa-box-open nav-widget-icon"></i>
            <span id="nav-skid" class="nav-widget-title">My Skids</span>
        </div>
    </div>

    <!-- <div id="navcon-dataz" class="nav-widget">
        <div class="nav-widget-con">
            <i class="fas fa-shapes nav-widget-icon"></i>
            <span class="nav-widget-title">Data Manager</span>
        </div>
        <div class="nav-sub-widget">
            <div class="nav-widget-con">
                <i class="fas fa-folder-open nav-subwidget-icon"></i>
                <span id="nav-manage-unit" class="nav-subwidget-title">Manage Unit</span>
            </div>

            <div class="nav-widget-con module docbuilder">
                <i class="fas fa-hammer nav-subwidget-icon"></i>
                <span id="nav-manage-equipment" class="nav-subwidget-title">Manage Equipment</span>
            </div>
        </div>
    </div> -->

    <!-- <div id="navcon-sample" class="nav-widget">
        <span class="nav-widget-title-create"><i class="fas fa-user nav-widget-icon"></i>Create Skid</span>
        <div class="nav-sub-widget">
            <span id="nav-create-unit" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Create Unit</span>
            <span id="nav-sample-2" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-plus nav-subwidget-icon"></i>Create Unit Mode</span>
            <span id="nav-sample-3" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Create Equipment</span>
            <span id="nav-sample-3" class="nav-subwidget-title btn-shadow"><i class="fas fa-user-cog nav-subwidget-icon"></i>Create Equipment Type</span>
        </div>
    </div> -->


    
    <!-- <div id="navcon-create-unit" class="nav-widget">
        <span id="nav-create-unit" class="nav-widget-title"><i class="fas fa-solar-panel nav-widget-icon"></i>Manage Units</span>
    </div> -->

</div>